.formTag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   
    padding: 20px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 100px;
    background-color: #dc9fb0;
}
.userInput{
    font-size: 25px;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}
.pwInput{
    font-size: 25px;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}
.LogInButton{
    font-size: 23px;
    margin: 5px;
}
.LogInHeadline{
    color:  white;
}